/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* for the aks page */
h1 {
  font-size: 24px;
  font-weight: bold;
}

#outer-form{
  width: 400px;
}

#answer-input {
  width: 83%;
}

/* for the answer page */

#answer-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#question-block{
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.answer-block{
  padding: 5px 5px;
  width: 350px;
  background-color: rgb(236, 198, 128);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#link{
  width: 350px;
}
